.bg-hero {
  /* background-image: url("https://lh3.googleusercontent.com/fife/AAWUweVsoEqU5dn6ERVF5864vprv_uvBgBuvTlajfZwoJVSl4jTk7nn6GZx4aVc0M1_SZGnECzmdc3vbidAcalgBbr9_fOZntQq8N3AoxMKQr3w2XV5_CDUr1Q3am_9mxb0wCoQyZyrvcCU3jaUJNnaSX2iE-JoiO3xdybHvI7kd3de5yWOMP-MixzlbQ1NGgrOYIg1div-SgB4huYgfpiwdzkqyMmS_N7F9_woJrJKH3FjCaycWqHDMuuJaZe1ooW2OahYl7VfvFUBFBZWTlre9lUeaW6hxCiWM6AkUOy4LrFhW7Bvu8W-YEROrsB1GEe_O2WQktiKgIGKuY0vNMhchLjGdpbOooiN9UN0okT9orXktqhJkAkJk2TZap_iVOCz2ih6JP-F2Tx4cmdgE-9UAi7mfU8vTTfU63xfrt3eEAEVLNAdOZsVPFxK_bdPWu_t8AMTV59VCC1ghzjnIcMWq5-6j17ZYQ--aPaSafgM06JFTIMI2eorsvmKzRAcTHHoSFdLxSzJ54xDog3EzfN4PYcm-hq1WKf3kcpObSgJJbDcKySplSFabvjd6v0YDN9hLzkOK-UG6qysu-rIUjebY0d0Z6A0nDyM-6IkvJuUiz0YtwkrnUfbLyU6PidPE9mKwbnF5sAqsiXf0kH_F_CJwUKn3oPntwDaaHGWU7qT0UYOhoobvaoxCiYeitlvQwmnH_xZt9iD7SotXiib2VaezWEvr3A3b8fcFjA=w2000-h2000-ft"); */
  /* background-size: cover; */
  /* height: 100vh; */
  /* width: 100%; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  object-position: center;

  /* background-color: #fcf8f1; */
  /* background-size: cover; */
}

.pickgradient {
  position: relative;
  display: inline-block;
}
.pickgradient:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vh;
  height: 35vh;
  display: inline-block;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(252, 247, 240, 0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(252, 247, 240, 0.65) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(107, 15, 16, 100) 100%); /* W3C */
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%); W3C */
}

.wrapper-content-hero {
  top: 7rem;
  height: 50vh;
  /* mix-blend-mode: difference; */
}
.name-hero {
  font-family: "Great Vibes", cursive;
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 2.5rem;
  color: rgb(180, 136, 78);
}

.img-hero {
  width: 100%;
  height: auto;
}

.heart {
  /* font-size: 150px; */
  /* color: #e00; */
  animation: beat 1s infinite alternate;
  transform-origin: center;
}

/* Heart beat animation */
@keyframes beat {
  to {
    transform: scale(1.1);
  }
}
