.quran {
  text-align: center;
  text-justify: inter-word;
  font-family: "Libre Caslon Text", serif;
  color: #666666;
  font-size: 0.7em;
}

.bg-content {
  background-color: #fcf8f2;
  /* background-image: url("https://images.unsplash.com/photo-1615800098779-1be32e60cca3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGFwZXIlMjB0ZXh0dXJlfGVufDB8fDB8fA%3D%3D&w=1000&q=80"); */
}

.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path("M 0,400 C 0,400 0,133 0,133 C 162,133.8 324,134.60000000000002 496,126 C 668,117.39999999999999 850,99.4 1009,99 C 1168,98.6 1304,115.8 1440,133 C 1440,133 1440,400 1440,400 Z");
  }
  25% {
    d: path(
      "M 0,400 C 0,400 0,133 0,133 C 213.46666666666664,141.13333333333333 426.9333333333333,149.26666666666668 567,144 C 707.0666666666667,138.73333333333332 773.7333333333333,120.06666666666666 907,116 C 1040.2666666666667,111.93333333333334 1240.1333333333332,122.46666666666667 1440,133 C 1440,133 1440,400 1440,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 C 0,400 0,133 0,133 C 149.33333333333331,105.26666666666667 298.66666666666663,77.53333333333333 442,84 C 585.3333333333334,90.46666666666667 722.6666666666667,131.13333333333335 888,145 C 1053.3333333333333,158.86666666666665 1246.6666666666665,145.93333333333334 1440,133 C 1440,133 1440,400 1440,400 Z"
    );
  }
  75% {
    d: path("M 0,400 C 0,400 0,133 0,133 C 154,130.2 308,127.39999999999999 452,119 C 596,110.60000000000001 730,96.60000000000001 893,98 C 1056,99.39999999999999 1248,116.19999999999999 1440,133 C 1440,133 1440,400 1440,400 Z");
  }
  100% {
    d: path("M 0,400 C 0,400 0,133 0,133 C 162,133.8 324,134.60000000000002 496,126 C 668,117.39999999999999 850,99.4 1009,99 C 1168,98.6 1304,115.8 1440,133 C 1440,133 1440,400 1440,400 Z");
  }
}

.path-1 {
  animation: pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,400 C 0,400 0,266 0,266 C 132.26666666666665,258.6666666666667 264.5333333333333,251.33333333333334 407,253 C 549.4666666666667,254.66666666666666 702.1333333333334,265.3333333333333 876,269 C 1049.8666666666666,272.6666666666667 1244.9333333333334,269.33333333333337 1440,266 C 1440,266 1440,400 1440,400 Z"
    );
  }
  25% {
    d: path(
      "M 0,400 C 0,400 0,266 0,266 C 125.06666666666666,251.33333333333334 250.13333333333333,236.66666666666669 398,242 C 545.8666666666667,247.33333333333331 716.5333333333333,272.66666666666663 894,280 C 1071.4666666666667,287.33333333333337 1255.7333333333333,276.6666666666667 1440,266 C 1440,266 1440,400 1440,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 C 0,400 0,266 0,266 C 129.86666666666667,271.06666666666666 259.73333333333335,276.1333333333333 438,270 C 616.2666666666667,263.8666666666667 842.9333333333334,246.53333333333336 1018,244 C 1193.0666666666666,241.46666666666664 1316.5333333333333,253.73333333333332 1440,266 C 1440,266 1440,400 1440,400 Z"
    );
  }
  75% {
    d: path(
      "M 0,400 C 0,400 0,266 0,266 C 137.7333333333333,275.06666666666666 275.4666666666666,284.1333333333333 448,282 C 620.5333333333334,279.8666666666667 827.8666666666666,266.5333333333333 999,262 C 1170.1333333333334,257.4666666666667 1305.0666666666666,261.73333333333335 1440,266 C 1440,266 1440,400 1440,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 C 0,400 0,266 0,266 C 132.26666666666665,258.6666666666667 264.5333333333333,251.33333333333334 407,253 C 549.4666666666667,254.66666666666666 702.1333333333334,265.3333333333333 876,269 C 1049.8666666666666,272.6666666666667 1244.9333333333334,269.33333333333337 1440,266 C 1440,266 1440,400 1440,400 Z"
    );
  }
}
