<div class="container card line">
  <div class="pass-card">
    <div class="mt-2">PASS CARD</div>
  </div>
  <!-- <img class="corner-left-top-element" src="corner.png" alt="" /> -->
  <!-- <img class="corner-righ-bottom-element" src="corner.png" alt="" /> -->
  <div class="right">
    <div class="title-card bold bride">Lia & Adib</div>
    <div class="ml-3 wedding">wedding</div>
  </div>
  <div class="">
    <img class="qr" src="qr.png" alt="" />
    <div class="ml-3 code-ticket">FAMF-33CX</div>
    <div class="ml-3 name bold">Hanif Faiz Hidayat</div>
    <div class="ml-3 mt-2">Semarang</div>
  </div>
</div>
