.i {
  /* display: flex; */
  height: 100vh;
  background-color: #6b0f10;
  background-image: url("https://lh3.googleusercontent.com/fife/AAWUweWjfz3c3eCDejRxOPeHCvw_GjSjLQtiIXsDmLLU_MavIc9uJRIaddqJk7H0pDwAI17XGKPoKPgS-nX451WX5VHmg8tnb3qG665d9RcgDu7fLJ2ce5d-OFjTdCNvzAsmMViTrtKrcl-XMx2_I4Hml54hI4hllah48KLjOWfzry8UpyGuPI5MuHWrUBoFzsTDiKuBh83-PRBtJeKSVOQtvFn-A_d3t2khplIJ6mdpYhogr15zk2UT8ERBUlTNA6DS8euMLI2OUJncxgUPvkZMSgT_ALo4hH3QDIAokYKMe6qYw0gHS9yZzAOtA-ZKb9z0EYtfXsNN2u595xXYodbh8pGvwfGkQZM3PQcAeSB9xZ5tYxVgSdX0AOAd4EcgQWfm0idqNs2inVov62V5TSJiKTkBSugpIBHNmtEQohnygPzt0f3qKJ14gQQYkYs5mCEAPkEuxN5aenGodTbGoa9PgBAQdwDHolDhCAKSpfvqa3pAByJYefpVxDDvK6yPg_zc7W7R-KSPPza4Cj_WH5IdXWQ8ET0AFPqoHaFYQS_8I_4uOiTEtabrhaTsg2xvjcKvdz2ncA57U0HFjlHcLoym8EbK-dOkWcgoWVoa00aKyI8-7rMoIRBpcB0jGA1PcQPKG8qJOdWlKQ_tH473QNSynU-z5s5xnKYThw9qvE2WcRhabuVYUyK23NQkRHw_LX0mntdOILny_aF2mI-Uj6qJG3X8QfpdfiUHpw=w3000-h6477-ft");
  /* background-image: url("../../assets/images/element/bg-cover.png"); */
  background-size: cover;
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
  /* object-fit: fill; */
  object-position: center;
}

.crop {
  object-fit: fill;
  object-position: center;
}

.wrapper-content {
  /* height: 50vh; */
  /* bottom: 70px; */
  margin: 2.5rem;
  margin-top: 19rem;

  /* margin: 0; */
  /* position: absolute; */
  /* top: 50%; */
  /* -ms-transform: translateY(-100%);
  transform: translateY(-50%); */
}

.e-corner-top {
  height: 150px;
  position: absolute;
  top: 1vh;
  left: 1vh;
}

.wrapper-top {
  text-align: center;
  margin-top: 5rem;
}

.modal-title {
  font-family: "Libre Caslon Text", serif;
  font-size: 0.8rem;
  color: #ffffffdd;
  letter-spacing: 0.3rem;
  /* margin-right: 3rem; */
}

.modal-bride-name {
  font-family: "Great Vibes", cursive;
  font-weight: 500;
  font-size: 3rem;
  color: burlywood;
  margin-top: 0.5rem;
}

.e-corner-bottom {
  height: 150px;
  position: absolute;
  bottom: 1vh;
  right: 1vh;
  transform: rotate(180deg);
}

.label {
  margin-top: 15rem;
  width: 275px;
  /* height: 100px; */
}

.button-modal {
  /* padding-top: 3rem; */
  /* margin-top: 4rem; */
  /* height: 50px; */
  justify-content: center;
}
