.bg-closing {
  /* background-color: #fcf8f1; */
  /* background-image: url("https://images.unsplash.com/photo-1601662528567-526cd06f6582?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80"); */
  background-color: #6b0f10;
  /* background-image: url("../../assets/images/web/jumbotron.jpg"); */
  /* background-image: url("../../assets/images/element/bg-cover.png");
  background-size: cover; */
}

.ucapan-closing {
  font-size: 0.8rem;
  font-family: "Libre Caslon Text", serif;
  color: #fcf8f1;
}
